footer {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
  margin-top: 50px;
  background: #1F1F1F;
  position: relative; }
  footer h3 {
    color: #E3E3E3; }
  footer p {
    color: #E3E3E3; }
  footer .contactus p {
    font-size: 15px;
    line-height: 1.7; }
  footer .contactus .socialmedia {
    display: flex;
    justify-content: space-around; }
    footer .contactus .socialmedia i {
      font-size: 20px;
      color: #E3E3E3; }
  footer span {
    color: #F0AE00; }
  footer .flex {
    display: flex;
    font-size: 18px;
    margin-top: 2px; }
  footer .developer {
    position: absolute;
    bottom: 10%;
    right: 2%; }
