.news-container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative; }
  .news-container .news-title-container {
    position: relative; }
    .news-container .news-title-container img {
      width: 100%; }
    .news-container .news-title-container .text-container {
      position: absolute;
      top: 15%;
      left: 5%; }
      .news-container .news-title-container .text-container h2 {
        font-size: 90px;
        font-weight: normal;
        line-height: normal; }
      .news-container .news-title-container .text-container h4 {
        font-size: 40px;
        font-weight: lighter; }
    .news-container .news-title-container .news-title-color {
      background: #f9f9f9;
      width: 460px;
      height: 360px;
      position: absolute;
      top: 14%;
      left: 3.5%;
      opacity: 0.8; }
  .news-container button {
    padding: 12px 50px;
    background: #f0ae00;
    color: #fffefb;
    border: none;
    font-size: 17px;
    font-weight: lighter;
    position: absolute;
    top: 73%;
    left: 3.5%;
    transition: 0.2s ease-in-out;
    cursor: pointer; }
    .news-container button:hover {
      background: #f9f9f9;
      color: black; }
